{# empty Twig template #}

<!DOCTYPE html>

<html lang="fr">

  <head>

    <title>nursery</title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   </head>
<body>
    
 <div class="container" style="margin-top:2%">
    

<table class="table">
 
   <h1>Les Sections de la crèche</h1>
    <br>
     <a href="{{path('insererGroupe')}}"  class="btn btn-success btn-lg">Ajoutez un Groupe</a>  
     <br><br>
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nom du groupe</th>
     
        </tr>
     
    </thead>
    <tbody>                
                
                
  {% for cle, obj in ListeGroupe %}
            <tr>
                <td>{{ obj.nomGroupe }}</td>
                
                <td>        
                         <a href="listPuricultriceParGroupe/{{obj.id}}"  class="btn btn-info">Listes Personnelles</a>       
                 </td>
            </tr> 
  {% endfor %}
    </tbody>
    
                
    
    </table>
    <br>
     <a href="{{path('GestionInscription')}}"  class="btn btn-info"><span class="glyphicon glyphicon-arrow-left">Retour</span></a>  
     <br><br>
 </div>
    
  
</body>
</html>