{# empty Twig template #}
{% extends "NurseryBundleViews/Default/index.html.twig"%}

{%block body %}
<div class="container" style="width:90%;margin-top:2%">
{{ form_start (formulaire, {'action': path('insererGroupe'), 'method':'POST'}) }}
<table >
   
    <tr>
        <td>{{ form_label(formulaire.nomGroupe) }}</td>
 
        <td>{{ form_widget(formulaire.nomGroupe) }}</td>
        <td>{{ form_errors(formulaire.nomGroupe) }}</td>
    </tr>
    <tr>
        <td><input type="submit" value="Ajoutez un groupe!"/> </td>
    <tr>
     {{ form_end (formulaire) }}              
</table>
</div>
{% endblock%}