<!DOCTYPE html>

<html lang="fr">

    <head>

        <title>nursery</title>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>   
       <div class="container" style="width:60%;margin-top:2%">

      <table class="table">

         <h1>Listes des Users et des demandes</h1>
          <br>
           <a href="{{path('createAccount')}}"  class="btn btn-success btn-lg">Ajoutez un utilisateur</a>  
           <br><br>
          <thead class="thead-dark">
              <tr>
                  <th scope="col">Numero </th>
                  <th scope="col">Nom </th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Email </th>
                   <th scope="col"></th>
                  <th scope="col" width="5%">Action</th>   
              </tr>
          </thead>
          <tbody>   
              {% for cle, obj in user %}
                  <tr>
                       <td>{{ obj.id }}</td>
                      <td>{{ obj.nom }}</td>
                      <td>{{ obj.prenom}}</td>
                      <td>{{ obj.email}} </td>  
                      <td>        
                         <a href="listInscripionParUsertshow/{{obj.id}}"  class="btn btn-info">Voir Les demandes</a>       
                       </td>
                       
                      <td >
                          <form action="/modifierUser" method="POST">
                              <input name="id" type="hidden" value="{{ obj.id }}" />
                              <input type="submit" value="Modifier" name="operation" class="btn btn-primary" />
                          </form>
                      </td >
                      
                      <td >
                        <form action="/supprimerUser" method="POST">
                            <input name="id" type="hidden" value="{{ obj.id }}" />
                            <input type="submit" value="Supprimer" name="operation" class="btn btn-danger" />
                        </form>
                      </td>
                   </tr>
              {% endfor %}
          </tbody>   
          </table>
          <br>
     <a href="{{path('GestionInscription')}}"  class="btn btn-info"><span class="glyphicon glyphicon-arrow-left">Retour</span></a>  
     <br><br>
       </div>
    </body>
</html>
