{# empty Twig template #}



{% extends "NurseryBundleViews/Default/index.html.twig"%}


{%block body %}
    <div class="container" style="width:90%;margin-top:2%">
        <h3 style='color: red '>Envoyez une notification aprés traitement du dossier</h3>
   <table>    
        {{ form_start (formulaire, {'action': path('messageCreate'), 'method':'POST'}) }}
         <tr>
            <td>{{ form_label(formulaire.email) }}</td>

            <td>{{ form_widget(formulaire.email) }}</td>
            <td>{{ form_errors(formulaire.email) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formulaire.sujet) }}</td>

            <td>{{ form_widget(formulaire.sujet) }}</td>
            <td>{{ form_errors(formulaire.sujet) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formulaire.contenu)  }}</td>

            <td>{{ form_widget(formulaire.contenu)  }}</td>
            <td>{{ form_errors(formulaire.contenu)  }}</td>
        </tr>
       <tr>
            <td>    <input type="submit" value="Envoyez!"/> </td>
        <tr>
        {{ form_end (formulaire) }}
        
    </table>

    </div>
   {% endblock%}
