
{% extends "NurseryBundleViews/Default/index.html.twig"%}
{%block body %}
    
<form action="{{ path ("connexionPage") }}" method="POST">
 <div class="imgcontainer">
    <img src="images/img_avatar1.png" alt="Avatar" class="avatar">
  </div>
     <label for="uname"><b>Email</b></label>
     <input type="text" name="_username"  /> 
     <label for="psw"><b>Password</b></label>
     <input type="text" name="_password" /> 
      <input type="submit" value="Se connecter"/>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>   
{% if errors %}
    {{    dump (errors) }}
    {{    dump (login) }}
    <p>Login ou mot de passe incorrectes</p>
{% endif %}

</form>

{% endblock%}