
{% extends "NurseryBundleViews/Default/index.html.twig"%}


{%block body %}
    <div class="container" style="width:90%;margin-top:2%">
   <table>    
        {{ form_start (formulaire, {'action': path('createAccount'), 'method':'POST'}) }}
        <tr>
            <td>{{ form_label(formulaire.nom) }}</td>

            <td>{{ form_widget(formulaire.nom) }}</td>
            <td>{{ form_errors(formulaire.nom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formulaire.prenom)  }}</td>

            <td>{{ form_widget(formulaire.prenom)  }}</td>
            <td>{{ form_errors(formulaire.prenom)  }}</td>
        </tr>

         <tr>
            <td>{{ form_label(formulaire.email)   }}</td>

            <td>{{ form_widget(formulaire.email)  }}</td>
            <td>{{ form_errors(formulaire.email)   }}</td>
        </tr>

         <tr>
            <td>{{ form_label(formulaire.passwordOriginal.first)   }}</td>

            <td>{{ form_widget(formulaire.passwordOriginal.first)  }}</td>
            <td>{{ form_errors(formulaire.passwordOriginal.first) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(formulaire.passwordOriginal.second) }}</td>

            <td>{{ form_widget(formulaire.passwordOriginal.second) }}</td>
            <td>{{ form_errors(formulaire.passwordOriginal.second) }}</td>
        </tr>
        <tr>
            <td>    <input type="submit" value="S'inscrire!"/> </td>
        <tr>

        {{ form_end (formulaire) }}
        
    </table>

    </div>
   {% endblock%}
