
{% extends "NurseryBundleViews/Default/index.html.twig"%}


{%block body %}
    <div class="container" style="width:90%;margin-top:2%">
   <table>    
        {{ form_start (form) }}
        <tr>
            <td>{{ form_label(form.nom) }}</td>

            <td>{{ form_widget(form.nom) }}</td>
            <td>{{ form_errors(form.nom) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.prenom)  }}</td>

            <td>{{ form_widget(form.prenom)  }}</td>
            <td>{{ form_errors(form.prenom)  }}</td>
        </tr>

         <tr>
            <td>{{ form_label(form.email)   }}</td>

            <td>{{ form_widget(form.email)  }}</td>
            <td>{{ form_errors(form.email)   }}</td>
        </tr>

         <tr>
            <td>{{ form_label(form.passwordOriginal.first)   }}</td>

            <td>{{ form_widget(form.passwordOriginal.first)  }}</td>
            <td>{{ form_errors(form.passwordOriginal.first) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(form.passwordOriginal.second) }}</td>

            <td>{{ form_widget(form.passwordOriginal.second) }}</td>
            <td>{{ form_errors(form.passwordOriginal.second) }}</td>
        </tr>
        <tr>
           <input name="id" type="hidden" value="{{ idUser }}" />
           <input type='Submit' value='Update une Account' />
        <tr>

        {{ form_end (form) }}
        
    </table>

    </div>
   {% endblock%}
