<html>
    <head>
        <title>NurseryBundle</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="css/main.css" type="text/css" media="all" /> 
		<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" /> 
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>		
        
    </head>
    <body>
        <div id="page">    
            <div id="mainheader">
			
                <div id="log">
                   <img src="images/bb.jpg" alt="Nursery" width="128" height="128" />
                </div>
                <ul id="menu">
                    <li><a href="{{path('nursery_homepage')}}">Accueil</a></li>
                    <li><a href="{{path('connexionPage')}}">Inscription En Ligne</a></li>		    
                    <li><a href="{{path('createAccount')}}">Register</a></li>                    
                   <li><a href="{{path('connexionPage')}}">Connectez-Vous</a></li>
                   {#<li><a href="{{path('seDeconnecter')}}">Déconnection</a></li>#}
                   
                  {# {% if  app.user!=null and app.user.email == "admin@gmail.com" %}
                    <li><a href="{{path('GestionInscription')}}">AdminDashboard</a></li>   
                    {%endif%}
                   #}
                </ul>
            </div>
             
            <div id="content">
                {%block body %}
                <div id="header">
                    <div class="wrap">
                        <div id="slide-holder">
                                <div id="slide-runner">
                                    <a href=""><img id="slide-img-1" src="images/7.jpg" class="slide" alt="" /></a>
                                    <a href=""><img id="slide-img-2" src="images/1.jpg" class="slide" alt="" /></a>
                                    <a href=""><img id="slide-img-3" src="images/2.jpg" class="slide" alt="" /></a>
                                    <a href=""><img id="slide-img-4" src="images/3.jpg" class="slide" alt="" /></a>
                                    <a href=""><img id="slide-img-5" src="images/4.jpg" class="slide" alt="" /></a>
                                    <a href=""><img id="slide-img-6" src="images/5.jpg" class="slide" alt="" /></a>
                                    <a href=""><img id="slide-img-7" src="images/6.jpg" class="slide" alt="" /></a> 
                                </div>				
                                <!--content featured gallery here -->				
                                <script type="text/javascript">
                                    if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"Greys Anatomy","desc":""},
                                    {"id":"slide-img-2","client":"The Middle","desc":""},{"id":"slide-img-3","client":"Criminal Minds","desc":""},{"id":"slide-img-4","client":"NCIS","desc":""},{"id":"slide-img-5","client":"Supernatural","desc":""},
                                    {"id":"slide-img-6","client":"Bones","desc":""},{"id":"slide-img-7","client":"Survivor","desc":""}];
                                </script>
                        </div>
                    </div>
                </div>
                {%endblock%}
	   </div>
			
            <footer id="footer">                
                <div class="foot">
                    <h4>Adresse</h4>
                    <p>Rue des vents 75 </p>
                    <p> 1000 bruxelles</p>
                </div>

                <div class="foot">
                    <h4>Nous contacter</h4>
                    <p>Tel: XX YYY ZZZ</p>
                    <p>Fax: XX YYY ZZZ</p>
                </div>

                <div class="foot">
                    <h4>Social</h4>   
                    <p>Facebook: </p>							
                    <p>Linkedin: </p>	
                </div> 

                <div class="clear"></div>
                <div class="copright">
                    <p>&copy; Copyright If3Nursery.com 2018</p>
                </div>
            </footer>	
        </div>
              
    </body>
</html>

          