
<!DOCTYPE html>

<html lang="fr">

  <head>

    <title>nursery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     
     <link href="https://fonts.googleapis.com/css?family=Holtwood+One+SC" rel="stylesheet" type="text/css"> 
</head>

   </head>
<body>
    
 <div class="container" style="margin-top:2%">
    

  <table class="table">
    <thead class="thead-dark">

    <tbody>

   <h1>Personel de la crèche</h1>
    <br>
     <a href="{{path('ajoutPuricultrice')}}"  class="btn btn-success btn-lg">Ajoutez un Personnel</a>  
     <br><br>
     <tr>
             <th scope="col" >Sexe</th>
            <th scope="col" >Nom</th>
            <th scope="col" >Prenom</th>
            <th scope="col"  >Adresse</th>
            <th scope="col" >Commune</th>
            <th scope="col"  >Telephone</th>
            <th scope="col" >Email</th>
            <th><th>
           <th scope="col" width="5%">Action</th>
     </tr>       
   </thead>       
                
        {% for cle, obj in ListePuricultrice %}
            <tr>
                 <td>{{ obj.sexe }}</td>
                <td>{{ obj.nomPuric }}</td>
            
            
                <td>{{ obj.prenomPuric }}</td>
          
            
                <td>{{ obj.adresse }}</td>
         
         
                <td>{{ obj.commune }}</td>
        
       
                <td>{{ obj.telephone }}</td>
         
         
                <td>{{ obj.email }}</td>
            
            <td >
                    <form action="/modifierPuricultrice" method="POST">
                        <input name="id" type="hidden" value="{{ obj.id }}" />
                        <input type="submit" value="Modifier" name="operation" class="btn btn-primary"/>
                    </form>
              </td >
              <td >
                    <form action="/supprimerPuericultrice" method="POST">
                        <input name="id" type="hidden" value="{{ obj.id }}" />
                        <input type="submit" value="Supprimer" name="operation" class="btn btn-danger" />
                    </form>
                </td>      
           </tr>
  {% endfor %}

   </table>
  
   <br>
     <a href="{{path('GestionInscription')}}"  class="btn btn-info"><span class="glyphicon glyphicon-arrow-left">Retour</span></a>  
     <br><br>
     
 </div>
</body>
</html>
