{# empty Twig template #}


{% extends "NurseryBundleViews/Default/index.html.twig"%}


{%block body %}
   
     {#   {{form_start (formulaire)}} 
     
        
        <input type="submit"  value="Ajouter!"/>
        {{ form_end (formulaire) }}#}
  
   <table>    
        {{ form_start (formulaire, {'action': path('ajoutPuricultrice'), 'method':'POST'}) }}
         <tr>
            <td>{{ form_label(formulaire.sexe) }}</td
            <td>{{ form_widget(formulaire.sexe) }}</td>
            <td>{{ form_errors(formulaire.sexe) }}</td>
        </tr>
         <tr>
            {# ici voir bien le nom depuis notre PuricultriceType#}
            <td>{{ form_label(formulaire.groupe) }}</td>

            <td>{{ form_widget(formulaire.groupe) }}</td>
            <td>{{ form_errors(formulaire.groupe) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formulaire.nomPuric) }}</td>

            <td>{{ form_widget(formulaire.nomPuric) }}</td>
            <td>{{ form_errors(formulaire.nomPuric) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(formulaire.prenomPuric)  }}</td>

            <td>{{ form_widget(formulaire.prenomPuric)  }}</td>
            <td>{{ form_errors(formulaire.prenomPuric)  }}</td>
        </tr>
        
         <tr>
            <td>{{ form_label(formulaire.diplome) }}</td>

            <td>{{ form_widget(formulaire.diplome) }}</td>
            <td>{{ form_errors(formulaire.diplome) }}</td>
        </tr>

         <tr>
            <td>{{ form_label(formulaire.email)   }}</td>

            <td>{{ form_widget(formulaire.email)  }}</td>
            <td>{{ form_errors(formulaire.email)   }}</td>
        </tr>

         <tr>
            <td>{{ form_label(formulaire.adresse)   }}</td>

            <td>{{ form_widget(formulaire.adresse)  }}</td>
            <td>{{ form_errors(formulaire.adresse) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(formulaire.codePostal) }}</td>

            <td>{{ form_widget(formulaire.codePostal) }}</td>
            <td>{{ form_errors(formulaire.codePostal) }}</td>
        </tr>
        
        
        <tr>
            <td>{{ form_label(formulaire.commune) }}</td>

            <td>{{ form_widget(formulaire.commune) }}</td>
            <td>{{ form_errors(formulaire.commune) }}</td>
        </tr>
        
        <tr>
            <td>{{ form_label(formulaire.telephone) }}</td>

            <td>{{ form_widget(formulaire.telephone) }}</td>
            <td>{{ form_errors(formulaire.telephone) }}</td>
        </tr>
        <tr>
            <td>    <input type="submit" value="Ajouter!"/> </td>
        <tr>

        {{ form_end (formulaire) }}
        
    </table>
  
    
   {% endblock%}
