<!DOCTYPE html>

<html lang="fr">

    <head>

        <title>nursery</title>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>   
      <div class="container" style="width:70%;margin-top:2%">
      <table class="table">

         <h1>Listes Personnelles par Groupe</h1>
         
          <thead class="thead-dark">
              <tr>
                  
                   <th>Nom du Personnel</th>
                   <th>Commune</th>
                    <th>Telephone </th>
                    <th>Email </th>
                   <th scope="col"></th>
                    
              </tr>
          </thead>
          <tbody>   
              {% for cle, obj  in puricultrices %}
                  <tr>
                      
                       <td>{{ obj.nomPuric }}</td>
                      <td>{{ obj.commune}}</td>
                      <td>{{ obj.telephone}}</td>
                      <td>{{ obj.email}} </td>   
                 
                   
                   </tr>
              {% endfor %}
          </tbody>   
          </table>
          <br>
      <a href="{{path('afficherGroupes')}}"  class="btn btn-info"><span class="glyphicon glyphicon-arrow-left">Retour</span></a>  
      <br><br>
       </div>
    </body>
</html>
