
{% extends "NurseryBundleViews/Default/index.html.twig"%}


{%block body %}
   {#
     {{form_start (form)}} 
     
         
       <input name="id" type="hidden" value="{{ idPuric }}" />
       <input type='Submit' value='Update Personnel' />
    {{ form_end (form) }}#}
  <div class="container" style="width:90%;margin-top:2%">
   <table>    
        {{ form_start (form) }}   
       
         <tr>
             <td>{{ form_label(form.sexe) }}</td>
            <td>{{ form_widget(form.sexe) }}</td>
            <td>{{ form_errors(form.sexe) }}</td>
        </tr>
         <tr>
            {# ici voir bien le nom depuis notre PuricultriceType#}
            <td>{{ form_label(form.groupe) }}</td>

            <td>{{ form_widget(form.groupe) }}</td>
            <td>{{ form_errors(form.groupe) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.nomPuric) }}</td>

            <td>{{ form_widget(form.nomPuric) }}</td>
            <td>{{ form_errors(form.nomPuric) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form.prenomPuric)  }}</td>

            <td>{{ form_widget(form.prenomPuric)  }}</td>
            <td>{{ form_errors(form.prenomPuric)  }}</td>
        </tr>
        
         <tr>
            <td>{{ form_label(form.diplome) }}</td>

            <td>{{ form_widget(form.diplome) }}</td>
            <td>{{ form_errors(form.diplome) }}</td>
        </tr>

         <tr>
            <td>{{ form_label(form.email)   }}</td>

            <td>{{ form_widget(form.email)  }}</td>
            <td>{{ form_errors(form.email)   }}</td>
        </tr>

         <tr>
            <td>{{ form_label(form.adresse)   }}</td>

            <td>{{ form_widget(form.adresse)  }}</td>
            <td>{{ form_errors(form.adresse) }}</td>
        </tr>

        <tr>
            <td>{{ form_label(form.codePostal) }}</td>

            <td>{{ form_widget(form.codePostal) }}</td>
            <td>{{ form_errors(form.codePostal) }}</td>
        </tr>
        
        
        <tr>
            <td>{{ form_label(form.commune) }}</td>

            <td>{{ form_widget(form.commune) }}</td>
            <td>{{ form_errors(form.commune) }}</td>
        </tr>
        
        <tr>
            <td>{{ form_label(form.telephone) }}</td>

            <td>{{ form_widget(form.telephone) }}</td>
            <td>{{ form_errors(form.telephone) }}</td>
        </tr>
        <tr> 
        
            <td><input name="id" type="hidden" value="{{ idPuric }}" /></td>
            <td><input type='Submit' value='Update Personnel' /></td>
       </tr>

        {{ form_end (form) }}
        
    </table>

    </div>
   {% endblock%}
    
