
<!DOCTYPE html>

<html lang="fr">

    <head>

        <title>nursery</title>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>   
       <div class="container" style="width:90%;margin-top:2%">

      <table class="table">

          <h1> Listes des demandes Inscriptions</h1>
          <br>
           <a href="{{path('formViewInscription')}}"  class="btn btn-success btn-lg">Ajoutez une demande</a>  
           <br><br>
          <thead class="thead-dark">
              <tr>
                    <th scope="col">Nom de l'enfant</th>
                    <th scope="col">Commune</th>
                    <th scope="col">Email Demandeur</th>
                    <th scope="col">Date de Naissance</th>
                    <th scope="col">Date d'Entrée</th>
                    <th scope="col">Presence Souhaité</th>
                    <th scope="col"></th>
                    <th scope="col" width="10%">Action</th>    
              </tr>
          </thead>
          <tbody>   
              {% for cle, objInscription in uneInscription %}
                  <tr>
                <td>{{ objInscription.nomEnfant }}</td>
                <td>{{ objInscription.commune}}</td>
                <td>{{ objInscription.email}} </td>
                <td>{{ objInscription.dateNaiss|date("d/M/Y")}}</td>
                <td>{{ objInscription.dateEntree|date("d/M/Y")}} </td>
                <td> {{ objInscription.presence}}</td> 
                
                     
                      
                      <td>        
                         <a href="afficherUneInscription/{{objInscription.id}}"  class="btn btn-info">Voir une Inscription</a>       
                       </td>
                       
                      <td >
                            <form action="/modifierInscription" method="POST">
                                <input name="id" type="hidden" value="{{ objInscription.id }}" />
                                <input type="submit" value="Modifier" name="operation" class="btn btn-primary"/>
                           </form>
                      </td >
                      
                      <td>
                            <form action="/supprimerInscription" method="POST">
                               <input name="id" type="hidden" value="{{ objInscription.id }}" />
                               <input type="submit" value="Supprimer" name="operation" class="btn btn-danger" />
                           </form>
                      </td>
                   </tr>
              {% endfor %}
          </tbody>   
          </table>
           <br>
     <a href="{{path('GestionInscription')}}"  class="btn btn-info"><span class="glyphicon glyphicon-arrow-left">Retour</span></a>  
     <br><br>
       </div>
    </body>
</html>