{# empty Twig template #}

<!DOCTYPE html>

<html lang="fr">

  <head>

    <title>nursery</title>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   </head>
<body>
    
 <div class="container" style="width:90%;margin-top:2%">
    

<table class="table">
  
   <br>
   <h1> Resumé de la demande</h1>
   
   
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nom de l'enfant</th>
            <th scope="col">Commune</th>
            <th scope="col">Email Demandeur</th>
            <th scope="col">Date de Naissance</th>
            <th scope="col">Date d'Entrée</th>
            <th scope="col">Presence Souhaité</th>
         
            
        </tr>
     
    </thead>
    <tbody>                
            <tr>
                
                <td>{{ uneInscription .nomEnfant }}</td>
                <td>{{ uneInscription .commune}}</td>
                <td>{{ uneInscription .email}} </td>
                <td>{{ uneInscription .dateNaiss|date("d/M/Y")}}</td>
                <td>{{ uneInscription .dateEntree|date("d/M/Y")}} </td>
                <td> {{ uneInscription .presence}}</td> 
            
                
                <td>
                 {# <form action="/Uploader" method="POST">
                        <input name="id" type="hidden" value="{{ uneInscription.id }}" />
                        <input type="text" value="Upload File" name="operation" class="btn btn-primary"/>
                    </form>
                </td>#}
                
           </tr>
        
    </tbody>
    
    </table>
        <br>
      <a href="{{path('afficherInscriptions')}}"  class="btn btn-info"><span class="glyphicon glyphicon-arrow-left">Retour</span></a>  
      <br><br>
 </div>
</body>
</html>
        
        

