<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gestion des Inscriptions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
<div class="container" style="width:50%;margin-top:2%">
    <h3 style='color: red '>Bienvenue, {{ app.user.prenom }} {{ app.user.nom }}</h3>
     <h3 style='color: #1ccad5 '>Vous êtes sur la page de demande d'admission en crèche</h3> <br>
       {{ form_start(monFormDemande, {'action': path('ajouterDemande'), 'method':'POST'}) }}
        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.nomEnfant) }}<br>
                    {{ form_widget(monFormDemande.nomEnfant) }}
                    {{ form_errors(monFormDemande.nomEnfant) }}
                 </div>
            </div>
        </div> 
         <div class="row">
            <div class="form-group">
            <div class="col-lg-9">
                {{ form_label(monFormDemande.nomParent) }}<br>
                {{ form_widget(monFormDemande.nomParent) }} 
                {{ form_errors(monFormDemande.nomParent) }} 
            </div>
            </div>
        </div> 

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.prenomParent) }}<br> 
                    {{ form_widget(monFormDemande.prenomParent) }} 
                    {{ form_errors(monFormDemande.prenomParent) }} 
                </div>
          </div>
        </div> 
        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.adresse) }} <br>
                    {{ form_widget(monFormDemande.adresse) }}
                    {{ form_errors(monFormDemande.adresse) }}
                 </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.codePostal) }} <br>
                    {{ form_widget(monFormDemande.codePostal) }}
                    {{ form_errors(monFormDemande.codePostal) }} 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.commune) }}<br>
                    {{ form_widget(monFormDemande.commune) }} 
                    {{ form_errors(monFormDemande.commune) }} 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.email) }} <br>
                    {{ form_widget(monFormDemande.email) }} 
                    {{ form_errors(monFormDemande.email) }} 
                </div>
            </div>
        </div>
         <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.telephone) }}<br>
                    {{ form_widget(monFormDemande.telephone) }} 
                    {{ form_errors(monFormDemande.telephone) }} 
               </div>
           </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.dateNaiss) }}<br>
                    {{ form_widget(monFormDemande.dateNaiss) }}
                    {{ form_errors(monFormDemande.dateNaiss) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.dateEntree) }}<br>
                    {{ form_widget(monFormDemande.dateEntree) }}
                     {{ form_errors(monFormDemande.dateEntree) }}
                </div>
            </div>
        </div>
         <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.presence) }}<br>
                    {{ form_widget(monFormDemande.presence) }}
                    {{ form_errors(monFormDemande.presence) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(monFormDemande.dateDemande) }}<br>
                    {{ form_widget(monFormDemande.dateDemande) }}
                    {{ form_errors(monFormDemande.dateDemande) }}
                </div>
            </div>
        </div><br>
        <input type='Submit' value='Ajoutez une Demande' />   
          {{ form_end(monFormDemande) }}
    </div> <br><br>
</body>
</html>



