<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        #ga{

            font-family: Impact;
            color : #1ccad5;
        }
        h2 {
            text-align: center;
        }
        body{
            font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
            color: white;
            background-color: #087f95;
        }
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }
        /* for image*/
         .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 20%;
            border-radius: 50%;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('nursery_homepage')}}">Accueil</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('afficherUtilisateurs') }}">Gestion des Utlisateurs</a></li>
                <li><a href="{{ path('afficherInscriptions') }}">Gestion des Inscriptions</a></li>
                
                <li><a href="{{ path('afficherGroupes') }}">Gestion des Groupes</a></li>
            </ul>
            {#<ul class="nav navbar-nav navbar-right">
                <li><a href="http://localhost///logout"> Se deconnecter</a></li>
            </ul>#}
        </div>
    </div>
</nav>

<div class="jumbotron" id="ga">
    <div class="container text-center">
        <h1>Gestion de la Crèche</h1>
        <h3 style='color: red '>Bienvenue, {{ app.user.prenom }}</h3>
    </div>
</div>

    
 <div class="imgcontainer">
    <img src="images/administrator.png" alt="Avatar" class="avatar">
  </div>

<div class="container">
     <h2>Gestion du Personnel</h2>
    <div class="btn-group btn-group-justified">
         <a href="{{ path('afficherPuricultrices') }}" class="btn btn-success">Consulter la liste du personnel</a>
    </div>
</div><br><br><br><br>
    <footer>
        
    </footer>
</body>
</html>


        
        
        