

<!DOCTYPE html>

<html lang="fr">

    <head>

        <title>nursery</title>

        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>   
      <div class="container" style="width:70%;margin-top:2%">
      <table class="table">

         <h1>Listes Demandes par User</h1>
          
          <thead class="thead-dark">
              <tr>
                   
                   <th>Nom du Parent</th>
                   <th>Commune</th>
                    <th>Email </th>
                    <th>Telephone </th>
                   <th scope="col"></th>
                  <th scope="col" width="5%">Etat Demande</th>   
              </tr>
          </thead>
          <tbody>   
              {% for cle, obj  in inscriptions %}
                  <tr>
                      
                      <td>{{ obj.nomParent }}</td>
                      <td>{{ obj.commune}}</td>
                      <td>{{ obj.telephone}}</td>
                      <td>{{ obj.email}} </td>   
                     <td>
                        
                         <a href="{{path('messageCreate')}}"  class="btn btn-link">Accepté/Refusé</a>
                      </td>
                      <td>        
                         <a href="{{path('messageCreate')}}"  class="btn btn-warning">En traitement</a> 
                      </td> 
                   
                   </tr>
              {% endfor %}
          </tbody>   
          </table>
          <br>
      <a href="{{path('afficherUtilisateurs')}}"  class="btn btn-info"><span class="glyphicon glyphicon-arrow-left">Retour</span></a>  
      <br><br>
       </div>
    </body>
</html>



