<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gestion des Inscriptions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
<div class="container" style="width:50%;margin-top:2%">
     {{ form_start(form) }}
     <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.nomEnfant) }}<br>
                    {{ form_widget(form.nomEnfant) }}
                    {{ form_errors(form.nomEnfant) }}
                 </div>
            </div>
        </div> 
         <div class="row">
            <div class="form-group">
            <div class="col-lg-9">
                {{ form_label(form.nomParent) }}<br>
                {{ form_widget(form.nomParent) }} 
                {{ form_errors(form.nomParent) }} 
            </div>
            </div>
        </div> 

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.prenomParent) }}<br> 
                    {{ form_widget(form.prenomParent) }} 
                    {{ form_errors(form.prenomParent) }} 
                </div>
          </div>
        </div> 
        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.adresse) }} <br>
                    {{ form_widget(form.adresse) }}
                    {{ form_errors(form.adresse) }}
                 </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.codePostal) }} <br>
                    {{ form_widget(form.codePostal) }}
                    {{ form_errors(form.codePostal) }} 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.commune) }}<br>
                    {{ form_widget(form.commune) }} 
                    {{ form_errors(form.commune) }} 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.email) }} <br>
                    {{ form_widget(form.email) }} 
                    {{ form_errors(form.email) }} 
                </div>
            </div>
        </div>
         <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.telephone) }}<br>
                    {{ form_widget(form.telephone) }} 
                    {{ form_errors(form.telephone) }} 
               </div>
           </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.dateNaiss) }}<br>
                    {{ form_widget(form.dateNaiss) }}
                    {{ form_errors(form.dateNaiss) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.dateEntree) }}<br>
                    {{ form_widget(form.dateEntree) }}
                     {{ form_errors(form.dateEntree) }}
                </div>
            </div>
        </div>
         <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.presence) }}<br>
                    {{ form_widget(form.presence) }}
                    {{ form_errors(form.presence) }}
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="form-group">
                <div class="col-lg-9">
                    {{ form_label(form.dateDemande) }}<br>
                    {{ form_widget(form.dateDemande) }}
                    {{ form_errors(form.dateDemande) }}
                </div>
            </div>
        </div><br>
        
      <input name="id" type="hidden" value="{{ idInscription }}" />
      <input type='Submit' value='Update une Demande' />

{{ form_end(form) }}
    </div> <br><br>
</body>
</html>
