
{% extends "NurseryBundleViews/Default/index.html.twig"%}
{%block body %}
    
    <h3 style='color:red'>
        
        Votre demande d'inscription a été bien reçu. Il est en cours de traitement.
        Nous vous recontacterons pour vous informer de la decision.
    </h3>
    
 {% endblock%}
